# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
data/reachy/raw/angles_000.pkl
data/reachy/raw/xyzs+rots_000.npz
vids/res.mp4
data/bodymodel/smplx/neutral.npz
data/human/raw/params_000.npz
data/human/raw/params_001.npz
data/human/raw/params_002.npz
data/human/raw/params_003.npz
data/human/raw/params_004.npz
data/human/raw/params_005.npz
data/human/raw/params_006.npz
data/human/raw/params_007.npz
data/human/raw/params_008.npz
data/human/raw/params_009.npz
data/human/params_000.npz
data/human/params_001.npz
data/human/params_002.npz
data/human/params_003.npz
data/human/params_004.npz
data/human/params_005.npz
data/human/params_006.npz
data/human/params_007.npz
data/human/params_008.npz
data/human/params_009.npz
data/reachy/raw/angles_001.pkl
data/reachy/raw/angles_002.pkl
data/reachy/raw/angles_003.pkl
data/reachy/raw/angles_004.pkl
data/reachy/raw/angles_005.pkl
data/reachy/raw/angles_006.pkl
data/reachy/raw/angles_007.pkl
data/reachy/raw/angles_008.pkl
data/reachy/raw/angles_009.pkl
data/reachy/raw/xyzs+rots_001.npz
data/reachy/raw/xyzs+rots_002.npz
data/reachy/raw/xyzs+rots_003.npz
data/reachy/raw/xyzs+rots_004.npz
data/reachy/raw/xyzs+rots_005.npz
data/reachy/raw/xyzs+rots_006.npz
data/reachy/raw/xyzs+rots_007.npz
data/reachy/raw/xyzs+rots_008.npz
data/reachy/raw/xyzs+rots_009.npz
data/vposer_v2_05/V02_05.yaml
data/vposer_v2_05/snapshots/V02_05_epoch=08_val_loss=0.03.ckpt
data/vposer_v2_05/snapshots/V02_05_epoch=13_val_loss=0.03.ckpt
output.mp4
pymaf.mp4
pymaf.pkl
vids/human/000.mp4
vids/human/001.mp4
vids/human/002.mp4
vids/human/003.mp4
vids/human/004.mp4
vids/human/005.mp4
vids/human/006.mp4
vids/human/007.mp4
vids/human/008.mp4
vids/human/009.mp4
tmp_imgs/0000.png
tmp_imgs/0001.png
vids/reachy/fix/000.mp4
vids/reachy/fix/001.mp4
vids/reachy/fix/002.mp4
vids/reachy/fix/003.mp4
vids/reachy/fix/004.mp4
vids/reachy/fix/005.mp4
vids/reachy/fix/006.mp4
vids/reachy/raw/000.mp4
vids/reachy/raw/001.mp4
vids/reachy/raw/002.mp4
vids/reachy/raw/003.mp4
vids/reachy/raw/004.mp4
vids/reachy/raw/005.mp4
vids/reachy/raw/006.mp4
vids/reachy/raw/007.mp4
vids/reachy/raw/008.mp4
vids/reachy/raw/009.mp4
data/reachy/raw/angles_010.pkl
data/reachy/raw/angles_011.pkl
data/reachy/raw/angles_012.pkl
data/reachy/raw/angles_013.pkl
data/reachy/raw/angles_014.pkl
data/reachy/raw/angles_015.pkl
data/reachy/raw/angles_016.pkl
data/reachy/raw/angles_017.pkl
data/reachy/raw/angles_018.pkl
data/reachy/raw/angles_019.pkl
data/reachy/raw/angles_020.pkl
data/reachy/raw/angles_021.pkl
data/reachy/raw/angles_022.pkl
data/reachy/raw/angles_023.pkl
data/reachy/raw/angles_024.pkl
data/reachy/raw/angles_025.pkl
data/reachy/raw/angles_026.pkl
data/reachy/raw/angles_027.pkl
data/reachy/raw/angles_028.pkl
data/reachy/raw/angles_029.pkl
data/reachy/raw/angles_030.pkl
data/reachy/raw/angles_031.pkl
data/reachy/raw/angles_032.pkl
data/reachy/raw/angles_033.pkl
data/reachy/raw/angles_034.pkl
data/reachy/raw/angles_035.pkl
data/reachy/raw/angles_036.pkl
data/reachy/raw/angles_037.pkl
data/reachy/raw/angles_038.pkl
data/reachy/raw/angles_039.pkl
data/reachy/raw/angles_040.pkl
data/reachy/raw/angles_041.pkl
data/reachy/raw/angles_042.pkl
data/reachy/raw/angles_043.pkl
data/reachy/raw/angles_044.pkl
data/reachy/raw/angles_045.pkl
data/reachy/raw/angles_046.pkl
data/reachy/raw/angles_047.pkl
data/reachy/raw/angles_048.pkl
data/reachy/raw/angles_049.pkl
data/reachy/raw/angles_050.pkl
data/reachy/raw/angles_051.pkl
data/reachy/raw/angles_052.pkl
data/reachy/raw/angles_053.pkl
data/reachy/raw/angles_054.pkl
data/reachy/raw/angles_055.pkl
data/reachy/raw/angles_056.pkl
data/reachy/raw/angles_057.pkl
data/reachy/raw/angles_058.pkl
data/reachy/raw/angles_059.pkl
data/reachy/raw/angles_060.pkl
data/reachy/raw/angles_061.pkl
data/reachy/raw/angles_062.pkl
data/reachy/raw/angles_063.pkl
data/reachy/raw/angles_064.pkl
data/reachy/raw/angles_065.pkl
data/reachy/raw/angles_066.pkl
data/reachy/raw/angles_067.pkl
data/reachy/raw/angles_068.pkl
data/reachy/raw/angles_069.pkl
data/reachy/raw/angles_070.pkl
data/reachy/raw/angles_071.pkl
data/reachy/raw/angles_072.pkl
data/reachy/raw/angles_073.pkl
data/reachy/raw/angles_074.pkl
data/reachy/raw/angles_075.pkl
data/reachy/raw/angles_076.pkl
data/reachy/raw/angles_077.pkl
data/reachy/raw/angles_078.pkl
data/reachy/raw/angles_079.pkl
data/reachy/raw/angles_080.pkl
data/reachy/raw/angles_081.pkl
data/reachy/raw/angles_082.pkl
data/reachy/raw/angles_083.pkl
data/reachy/raw/angles_084.pkl
data/reachy/raw/angles_085.pkl
data/reachy/raw/angles_086.pkl
data/reachy/raw/angles_087.pkl
data/reachy/raw/angles_088.pkl
data/reachy/raw/angles_089.pkl
data/reachy/raw/angles_090.pkl
data/reachy/raw/angles_091.pkl
data/reachy/raw/angles_092.pkl
data/reachy/raw/angles_093.pkl
data/reachy/raw/angles_094.pkl
data/reachy/raw/angles_095.pkl
data/reachy/raw/angles_096.pkl
data/reachy/raw/angles_097.pkl
data/reachy/raw/angles_098.pkl
data/reachy/raw/angles_099.pkl
data/reachy/raw/xyzs+rots_010.npz
data/reachy/raw/xyzs+rots_011.npz
data/reachy/raw/xyzs+rots_012.npz
data/reachy/raw/xyzs+rots_013.npz
data/reachy/raw/xyzs+rots_014.npz
data/reachy/raw/xyzs+rots_015.npz
data/reachy/raw/xyzs+rots_016.npz
data/reachy/raw/xyzs+rots_017.npz
data/reachy/raw/xyzs+rots_018.npz
data/reachy/raw/xyzs+rots_019.npz
data/reachy/raw/xyzs+rots_020.npz
data/reachy/raw/xyzs+rots_021.npz
data/reachy/raw/xyzs+rots_022.npz
data/reachy/raw/xyzs+rots_023.npz
data/reachy/raw/xyzs+rots_024.npz
data/reachy/raw/xyzs+rots_025.npz
data/reachy/raw/xyzs+rots_026.npz
data/reachy/raw/xyzs+rots_027.npz
data/reachy/raw/xyzs+rots_028.npz
data/reachy/raw/xyzs+rots_029.npz
data/reachy/raw/xyzs+rots_030.npz
data/reachy/raw/xyzs+rots_031.npz
data/reachy/raw/xyzs+rots_032.npz
data/reachy/raw/xyzs+rots_033.npz
data/reachy/raw/xyzs+rots_034.npz
data/reachy/raw/xyzs+rots_035.npz
data/reachy/raw/xyzs+rots_036.npz
data/reachy/raw/xyzs+rots_037.npz
data/reachy/raw/xyzs+rots_038.npz
data/reachy/raw/xyzs+rots_039.npz
data/reachy/raw/xyzs+rots_040.npz
data/reachy/raw/xyzs+rots_041.npz
data/reachy/raw/xyzs+rots_042.npz
data/reachy/raw/xyzs+rots_043.npz
data/reachy/raw/xyzs+rots_044.npz
data/reachy/raw/xyzs+rots_045.npz
data/reachy/raw/xyzs+rots_046.npz
data/reachy/raw/xyzs+rots_047.npz
data/reachy/raw/xyzs+rots_048.npz
data/reachy/raw/xyzs+rots_049.npz
data/reachy/raw/xyzs+rots_050.npz
data/reachy/raw/xyzs+rots_051.npz
data/reachy/raw/xyzs+rots_052.npz
data/reachy/raw/xyzs+rots_053.npz
data/reachy/raw/xyzs+rots_054.npz
data/reachy/raw/xyzs+rots_055.npz
data/reachy/raw/xyzs+rots_056.npz
data/reachy/raw/xyzs+rots_057.npz
data/reachy/raw/xyzs+rots_058.npz
data/reachy/raw/xyzs+rots_059.npz
data/reachy/raw/xyzs+rots_060.npz
data/reachy/raw/xyzs+rots_061.npz
data/reachy/raw/xyzs+rots_062.npz
data/reachy/raw/xyzs+rots_063.npz
data/reachy/raw/xyzs+rots_064.npz
data/reachy/raw/xyzs+rots_065.npz
data/reachy/raw/xyzs+rots_066.npz
data/reachy/raw/xyzs+rots_067.npz
data/reachy/raw/xyzs+rots_068.npz
data/reachy/raw/xyzs+rots_069.npz
data/reachy/raw/xyzs+rots_070.npz
data/reachy/raw/xyzs+rots_071.npz
data/reachy/raw/xyzs+rots_072.npz
data/reachy/raw/xyzs+rots_073.npz
data/reachy/raw/xyzs+rots_074.npz
data/reachy/raw/xyzs+rots_075.npz
data/reachy/raw/xyzs+rots_076.npz
data/reachy/raw/xyzs+rots_077.npz
data/reachy/raw/xyzs+rots_078.npz
data/reachy/raw/xyzs+rots_079.npz
data/reachy/raw/xyzs+rots_080.npz
data/reachy/raw/xyzs+rots_081.npz
data/reachy/raw/xyzs+rots_082.npz
data/reachy/raw/xyzs+rots_083.npz
data/reachy/raw/xyzs+rots_084.npz
data/reachy/raw/xyzs+rots_085.npz
data/reachy/raw/xyzs+rots_086.npz
data/reachy/raw/xyzs+rots_087.npz
data/reachy/raw/xyzs+rots_088.npz
data/reachy/raw/xyzs+rots_089.npz
data/reachy/raw/xyzs+rots_090.npz
data/reachy/raw/xyzs+rots_091.npz
data/reachy/raw/xyzs+rots_092.npz
data/reachy/raw/xyzs+rots_093.npz
data/reachy/raw/xyzs+rots_094.npz
data/reachy/raw/xyzs+rots_095.npz
data/reachy/raw/xyzs+rots_096.npz
data/reachy/raw/xyzs+rots_097.npz
data/reachy/raw/xyzs+rots_098.npz
data/reachy/raw/xyzs+rots_099.npz
data/human/params_010.npz
data/human/params_011.npz
data/human/params_012.npz
data/human/params_013.npz
data/human/params_014.npz
data/human/params_015.npz
data/human/params_016.npz
data/human/params_017.npz
data/human/params_018.npz
data/human/params_019.npz
data/human/params_020.npz
data/human/params_021.npz
data/human/params_022.npz
data/human/params_023.npz
data/human/params_024.npz
data/human/params_025.npz
data/human/params_026.npz
data/human/params_027.npz
data/human/params_028.npz
data/human/params_029.npz
data/human/params_030.npz
data/human/params_031.npz
data/human/params_032.npz
data/human/params_033.npz
data/human/params_034.npz
data/human/params_035.npz
data/human/params_036.npz
data/human/params_037.npz
data/human/params_038.npz
data/human/params_039.npz
data/human/params_040.npz
data/human/params_041.npz
data/human/params_042.npz
data/human/params_043.npz
data/human/params_044.npz
data/human/params_045.npz
data/human/params_046.npz
data/human/params_047.npz
data/human/params_048.npz
data/human/params_049.npz
data/human/params_050.npz
data/human/params_051.npz
data/human/params_052.npz
data/human/params_053.npz
data/human/params_054.npz
data/human/params_055.npz
data/human/params_056.npz
data/human/params_057.npz
data/human/params_058.npz
data/human/params_059.npz
data/human/params_060.npz
data/human/params_061.npz
data/human/params_062.npz
data/human/params_063.npz
data/human/params_064.npz
data/human/params_065.npz
data/human/params_066.npz
data/human/params_067.npz
data/human/params_068.npz
data/human/params_069.npz
data/human/params_070.npz
data/human/params_071.npz
data/human/params_072.npz
data/human/params_073.npz
data/human/params_074.npz
data/human/params_075.npz
data/human/params_076.npz
data/human/params_077.npz
data/human/params_078.npz
data/human/params_079.npz
data/human/params_080.npz
data/human/params_081.npz
data/human/params_082.npz
data/human/params_083.npz
data/human/params_084.npz
data/human/params_085.npz
data/human/params_086.npz
data/human/params_087.npz
data/human/params_088.npz
data/human/params_089.npz
data/human/params_090.npz
data/human/params_091.npz
data/human/params_092.npz
data/human/params_093.npz
data/human/params_094.npz
data/human/params_095.npz
data/human/params_096.npz
data/human/params_097.npz
data/human/params_098.npz
data/human/params_099.npz
models/human2reachy_best.pth
tmp_imgs/0002.png
tmp_imgs/0003.png
tmp_imgs/0004.png
tmp_imgs/0005.png
tmp_imgs/0006.png
tmp_imgs/0007.png
tmp_imgs/0008.png
tmp_imgs/0009.png
tmp_imgs/0010.png
tmp_imgs/0011.png
tmp_imgs/0012.png
tmp_imgs/0013.png
vids/human/010.mp4
vids/human/011.mp4
vids/human/012.mp4
vids/human/013.mp4
vids/human/014.mp4
vids/human/015.mp4
vids/human/016.mp4
vids/human/017.mp4
vids/human/018.mp4
vids/human/019.mp4
vids/human/020.mp4
vids/human/021.mp4
vids/human/022.mp4
vids/human/023.mp4
vids/human/024.mp4
vids/human/025.mp4
vids/human/026.mp4
vids/human/027.mp4
vids/human/028.mp4
vids/human/029.mp4
vids/human/030.mp4
vids/human/031.mp4
vids/human/032.mp4
vids/human/033.mp4
vids/human/034.mp4
vids/human/035.mp4
vids/human/036.mp4
vids/human/037.mp4
vids/human/038.mp4
vids/human/039.mp4
vids/human/040.mp4
vids/human/041.mp4
vids/human/042.mp4
vids/human/043.mp4
vids/human/044.mp4
vids/human/045.mp4
vids/human/046.mp4
vids/human/047.mp4
vids/human/048.mp4
vids/human/049.mp4
vids/human/050.mp4
vids/human/051.mp4
playground.py
tmp_imgs/0014.png
tmp_imgs/0015.png
tmp_imgs/0016.png
tmp_imgs/0017.png
tmp_imgs/0018.png
tmp_imgs/0019.png
tmp_imgs/0020.png
tmp_imgs/0021.png
tmp_imgs/0022.png
tmp_imgs/0023.png
tmp_imgs/0024.png
tmp_imgs/0025.png
tmp_imgs/0026.png
tmp_imgs/0027.png
tmp_imgs/0028.png
tmp_imgs/0029.png
tmp_imgs/0030.png
tmp_imgs/0031.png
tmp_imgs/0032.png
tmp_imgs/0033.png
tmp_imgs/0034.png
tmp_imgs/0035.png
tmp_imgs/0036.png
tmp_imgs/0037.png
tmp_imgs/0038.png
tmp_imgs/0039.png
tmp_imgs/0040.png
tmp_imgs/0041.png
tmp_imgs/0042.png
tmp_imgs/0043.png
tmp_imgs/0044.png
tmp_imgs/0045.png
tmp_imgs/0046.png
tmp_imgs/0047.png
tmp_imgs/0048.png
tmp_imgs/0049.png
tmp_imgs/0050.png
tmp_imgs/0051.png
tmp_imgs/0052.png
tmp_imgs/0053.png
tmp_imgs/0054.png
tmp_imgs/0055.png
tmp_imgs/0056.png
tmp_imgs/0057.png
tmp_imgs/0058.png
tmp_imgs/0059.png
tmp_imgs/0060.png
tmp_imgs/0061.png
tmp_imgs/0062.png
tmp_imgs/0063.png
tmp_imgs/0064.png
tmp_imgs/0065.png
tmp_imgs/0066.png
tmp_imgs/0067.png
tmp_imgs/0068.png
tmp_imgs/0069.png
tmp_imgs/0070.png
tmp_imgs/0071.png
tmp_imgs/0072.png
tmp_imgs/0073.png
tmp_imgs/0074.png
tmp_imgs/0075.png
tmp_imgs/0076.png
tmp_imgs/0077.png
tmp_imgs/0078.png
tmp_imgs/0079.png
tmp_imgs/0080.png
tmp_imgs/0081.png
tmp_imgs/0082.png
tmp_imgs/0083.png
tmp_imgs/0084.png
tmp_imgs/0085.png
tmp_imgs/0086.png
tmp_imgs/0087.png
tmp_imgs/0088.png
tmp_imgs/0089.png
tmp_imgs/0090.png
tmp_imgs/0091.png
tmp_imgs/0092.png
tmp_imgs/0093.png
tmp_imgs/0094.png
tmp_imgs/0095.png
tmp_imgs/0096.png
tmp_imgs/0097.png
tmp_imgs/0098.png
tmp_imgs/0099.png
tmp_imgs/0100.png
tmp_imgs/0101.png
tmp_imgs/0102.png
tmp_imgs/0103.png
tmp_imgs/0104.png
tmp_imgs/0105.png
tmp_imgs/0106.png
tmp_imgs/0107.png
tmp_imgs/0108.png
tmp_imgs/0109.png
tmp_imgs/0110.png
tmp_imgs/0111.png
tmp_imgs/0112.png
tmp_imgs/0113.png
tmp_imgs/0114.png
tmp_imgs/0115.png
tmp_imgs/0116.png
tmp_imgs/0117.png
tmp_imgs/0118.png
tmp_imgs/0119.png
tmp_imgs/0120.png
tmp_imgs/0121.png
tmp_imgs/0122.png
tmp_imgs/0123.png
tmp_imgs/0124.png
tmp_imgs/0125.png
tmp_imgs/0126.png
tmp_imgs/0127.png
tmp_imgs/0128.png
tmp_imgs/0129.png
tmp_imgs/0130.png
tmp_imgs/0131.png
tmp_imgs/0132.png
tmp_imgs/0133.png
tmp_imgs/0134.png
tmp_imgs/0135.png
tmp_imgs/0136.png
tmp_imgs/0137.png
tmp_imgs/0138.png
tmp_imgs/0139.png
tmp_imgs/0140.png
tmp_imgs/0141.png
tmp_imgs/0142.png
tmp_imgs/0143.png
tmp_imgs/0144.png
tmp_imgs/0145.png
tmp_imgs/0146.png
tmp_imgs/0147.png
tmp_imgs/0148.png
data/reachy/raw/xyzs+reps_000.npz
data/reachy/raw/xyzs+reps_001.npz
data/reachy/raw/xyzs+reps_002.npz
data/reachy/raw/xyzs+reps_003.npz
data/reachy/raw/xyzs+reps_004.npz
data/reachy/raw/xyzs+reps_005.npz
