absl-py==0.11.0
antlr4-python3-runtime==4.9.3
body_visualizer @ git+https://github.com/cotton-ahn/body_visualizer@5d0ac4615f32563f5dbd2f09c24aee75e3ae62ff
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colour==0.1.5
contourpy==1.1.1
cycler==0.12.1
dataclasses==0.6
docker-pycreds==0.4.0
fonttools==4.53.1
future==1.0.0
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.43
human_body_prior @ git+https://github.com/cotton-ahn/human_body_prior@4c246d8a83ce16d3cff9c79dcf04d81fa440a6bc
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_resources==6.4.0
iopath==0.1.10
joblib==1.4.2
kinpy==0.2.2
kiwisolver==1.4.5
loguru==0.7.2
lxml==4.9.4
matplotlib==3.7.5
numpy==1.24.4
omegaconf==2.3.0
opencv-python==4.5.1.48
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
portalocker==2.10.1
protobuf==5.27.3
psutil==6.0.0
pybullet==3.2.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytorch3d==0.3.0
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.3.2
scipy==1.10.1
sentry-sdk==2.12.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
tabulate==0.9.0
termcolor==2.4.0
threadpoolctl==3.5.0
torch==1.7.0+cu110
torchaudio==0.7.0
torchvision==0.8.1+cu110
tqdm==4.66.5
transformations==2020.1.1
trimesh==3.9.5
typing_extensions==4.12.2
urllib3==2.2.2
vtk==9.3.1
wandb==0.17.5
yacs==0.1.8
zipp==3.19.2
